@import "fonts.css";

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/*#Navigation*/

.nav {
	width: 100%;
	background-color: #ec008c;
	height: 60px;
}

.navbar-icon-open {
	display: block;
	position: absolute;
	top: -5px;
	left: 0;
}

.icon-open-hide {
	display: none;
}

.navbar-icon-close {
	display: none
}

.close-open {
	display: block;
	position: absolute;
	right: 0;
	top: -5px;
}

.huge-logo-white {
	width: 0;
	transition: width 0.8s;
}

.huge-toggle {
	width: 50px;
	position: absolute;
	top: 20px;
	left: 24px;
	display: block;
}

.first-level {
	font-family: 'HUGEAvantGardeBold';
	font-size: 21px;
	line-height: 48px;
	padding-left: 24px;
	position: relative;
}

.first-level:hover {
	background-color: #eee;
	cursor: pointer;
}

.first-level-link {
	color: #000;
	text-decoration: none;
	float: left;
}

.first-level-link:hover {
	color: #ec008c;
}

.first-level-submenu-active:hover {
	background-color: #fff;
}

.second-level:hover {
	background-color: #eee;
}

.fa-chevron-down,
.fa-chevron-up {
	color: #ec008c;
	float: right;
	margin-top: 13px;
	margin-right: 20px;
}

.copyright {
	position: absolute;
	bottom: 20px;
	left: 24px;
	font-family: 'HelveticaNeueRegular';
	font-size: 12px;
	line-height: 16px;
}

.nav-container {
	overflow: hidden;
}

.nav-box {
	width: 0;
	background-color: #fff;
	position: absolute;
	top: 60px;
	height: 100vh;
	padding-top: 12px;
	overflow: hidden;
	transition: width 0.8s;
}

.nav-open {
	width: 80%;
}

.wrapper-menu-open {
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
}

.container-open {
	width: calc(100vw - 300px);
	overflow-x: hidden;
	margin-left: 300px;
}

.second-level {
	font-family: 'Galaxie';
	font-size: 16px;
	line-height: 48px;
	padding-left: 24px;
	display: block;
}
.second-level a {
	color: #000;
	text-decoration: none;
}

.second-level a:hover {
	color: #ec008c;
}

.submenu {
	list-style-type: none;
	clear: both;
	display: none;
}

.submenu-open {
	display: block;
}

/*Header*/
.fig-box {
	background-image: url(/images/background-image.jpg);
	background-size: cover;
	height: 240px;
	background-position: center center;
	background-repeat: no-repeat;
}

.headline {
	font-family: 'HUGEAvantGardeBold';
	font-size: 44px;
	line-height: 48px;
	padding-top: 50px;
	padding-bottom: 50px;
}

/*Body Copy*/
.body-copy {
	font-family: 'Galaxie';
	font-size: 12px;
	line-height: 24px;
	text-align: justify;
}

.text {
	padding-left: 24px;
	padding-right: 24px;
}