@import "fonts.css";
* {
	border: 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/*#Navigation*/

.nav {
	background-color: #ec008c;
	height: 60px;
	width: 100%;
}
.navbar-icon-open {
	display: block;
	left: 0;
	position: absolute;
	top: -5px;
}
.icon-open-hide {
	display: none;
}
.navbar-icon-close {
	display: none
}
.close-open {
	display: block;
	position: absolute;
	right: 0;
	top: -5px;
}
.huge-logo-white {
	transition: width 0.8s;
	width: 0;
}
.huge-toggle {
	display: block;
	left: 24px;
	position: absolute;
	top: 20px;
	width: 50px;
}
.first-level {
	font-family: 'HUGEAvantGardeBold';
	font-size: 21px;
	line-height: 48px;
	padding-left: 24px;
	position: relative;
}
.first-level:hover {
	background-color: #eee;
	cursor: pointer;
}
.first-level-link {
	color: #000;
	float: left;
	text-decoration: none;
}
.first-level-link:hover {
	color: #ec008c;
}
.first-level-submenu-active:hover {
	background-color: #fff;
}
.second-level:hover {
	background-color: #eee;
}
.fa-chevron-down, .fa-chevron-up {
	color: #ec008c;
	float: right;
	margin-right: 20px;
	margin-top: 13px;
}
.copyright {
	bottom: 20px;
	font-family: 'HelveticaNeueRegular';
	font-size: 12px;
	left: 24px;
	line-height: 16px;
	position: absolute;
}
.copyright-open {
	display: none;
}
.nav-container {
	overflow: hidden;
}
.nav-box {
	background-color: #fff;
	height: 100vh;
	overflow: scroll;
	padding-top: 12px;
	position: absolute;
	top: 60px;
	transition: width 0.8s;
	width: 0;
}
.nav-open {
	width: 80%;
}
.wrapper-menu-open {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
}
.container-open {
	margin-left: 300px;
	overflow-x: hidden;
	width: calc(100vw - 300px)	
}
.second-level {
	display: block;
	font-family: 'Galaxie';
	font-size: 16px;
	line-height: 48px;
	padding-left: 24px;
}
.second-level a {
	color: #000;
	text-decoration: none;
}
.second-level a:hover {
	color: #ec008c;
}
.submenu {
	clear: both;
	display: none;
	list-style-type: none;	
}
.submenu-open {
	display: block;
}

/*Header*/

.fig-box {
	background-image: url(/images/background-image.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 240px;
}
.headline {
	font-family: 'HUGEAvantGardeBold';
	font-size: 44px;
	line-height: 48px;
	padding-bottom: 50px;
	padding-top: 50px;
}

/*Body Copy*/

.body-copy {
	font-family: 'Galaxie';
	font-size: 12px;
	line-height: 24px;
	text-align: justify;
}
.text {
	padding-left: 24px;
	padding-right: 24px;
}
@media (min-width: 769px) {
	.nav {
		height: 72px;
	}
	.navbar-icon-open {
		display: none;
	}
	.huge-logo-white {
		left: 24px;
		position: absolute;
		top: 24px;
		width: 60px;
	}
	.nav-box {
		background-color: #ec008c;
		height: auto;
		left: 108px;
		overflow: visible;
		padding-top: 0;
		position: relative;
		top: 0;
		width: 80%;
	}
	.close-open {
		display: none;
	}
	.container-open {
		margin-left: 0;
		overflow-x: visible;
		width: auto;
	}
	.nav-container {
		overflow: visible;
	}
	.navbar-toggle {
		display: block;
	}
	.wrapper-menu-open {
		background-color: transparent;
		width: auto;
	}
	.labels {
		height: 72px;
	}
	.first-level {
		display: inline-block;
		padding-bottom: 0;
		padding-right: 24px;
		padding-top: 0;
	}
	.first-level-link {
		color: #fff;
		line-height: 72px;
	}
	.first-level:hover {
		background-color: #fff;
	}
	.copyright {
		display: none;
	}
	.fa {
		display: none;
	}
	.submenu {
		z-index: 1;
	}
	.submenu-open {
		background-color: #fff;
		left: 0;
		position: absolute;
		top: 72px;
		width: 225px;		
	}
	.fig-box {
		height: 640px;
	}
	.headline-box {
		position: absolute;
		text-align: center;
		top: 155px;
		width: 100%;
	}
	.headline {
		color: #fff;
		font-size: 120px;
		line-height: 132px;
	}
	.body-copy {
		font-size: 24px;
		line-height: 36px;
		margin: 0 auto;
		padding-top: 60px;
		width: 968px;
	}
}